@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{font-family: 'Comfortaa', cursive;}

.container{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hex-colors{
  width: 100%;
  text-align: center;
}

#hex-colors h1, h2{
  font-size: 2rem;
  text-transform: uppercase;
  -ms-animation: colorchange 5s infinite alternate;
  -moz-animation: colorchange 5s infinite alternate;
  -o-animation: colorchange 5s infinite alternate; 
  animation: colorchange 5s infinite alternate; 
}

#hex-colors h2{
  margin-top: 15%;
  text-transform: lowercase;
}



@keyframes colorchange {
    0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #ffffff;
      }  
}

@media(max-width:480px){
  #hex-colors h1{font-size: 1.5rem;}
  
  #hex-colors h2{font-size: 1.5rem;}
}
button {
    border: 5px solid transparent;
    background: #AED6D1;
    color: #55706D;
    border-radius: 40px;
    padding: 15px 30px;
    overflow: hidden;
    width: 200px;
    transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
    white-space: nowrap;
    text-indent: 23px;
    font-weight: bold;
  }
  button span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }
  button:hover {
    text-indent: 0;
    background: #55706D;
    color: #FFE8A3;
    width: 250px;
    border: 10px solid #8DCCC4;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  }
  button:hover span {
    transform: translateX(0);
    opacity: 1;
  }
  .container2{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quotes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .inner-quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    min-height: 400px;
    padding: 0 25px;
    color: gray;
    border-radius: 10px;
    background-color: #F4EDEA;
    border: 10px solid #06BDC1;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 
  }
  
  .inner-quotes-container p{
    font-size: 1.5rem;
    color: black;
  }
  
  .inner-quotes-container h3{
    font-size: 2rem;
    color: black;
    font-family: 'Dancing Script', cursive;
  }
  
  .quote-btn{padding-top: 25px;}
  
  @media(max-width:1280px){
    .container{width: 95%;}
  }
  
  @media(max-width:900px){
    .inner-quotes-container{width: 100%;}
  }
  
  @media(max-width:480px){
    .inner-quotes-container p{font-size: 1.2rem;}
    .inner-quotes-container h3{font-size: 1.5rem;}
  }